@model ADLVMusicAcademy.Models.StudentModel

@{
    ViewBag.Title = "ConfirmStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student successfully enrolled!</h2>

<div>
    <h4>Student Details:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDStudent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Back to Home", "Index", "Home") or
    @Html.ActionLink("Subscribe to a course", "Create", "Subscription")
</p>

