@model IEnumerable<ADLVMusicAcademy.Models.SubscriptionModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Subscription Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDSubscription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDCourse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDStudent)
        </th>
        <th>
            @Html.ActionLink("IdSubscriptionType", "Index", new { sortOrder = ViewBag.SubscriptionTypeSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubscriptionTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </th>
        <th>
            @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.DateSortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDSubscription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDCourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDSubscriptionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriptionTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDSubscription }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDSubscription }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDSubscription })
            </td>
        </tr>
    }

</table>
