@model IEnumerable<ADLVMusicAcademy.Models.CourseModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        @if (User.IsInRole("Admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.IDCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDTeacher)
            </th>
        }   
            <th>
                 @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherFirstName)
            </th>
    </tr>

@foreach (var item in Model) {
<tr>
    @if (User.IsInRole("Admin"))
    {
        <td>
            @Html.DisplayFor(modelItem => item.IDCourse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDTeacher)
        </td>
    }

        <td>
             @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherFirstName)
            @Html.DisplayFor(modelItem => item.TeacherLastName)
        </td>
        <td>
            @if (User.IsInRole("Admin") || User.IsInRole("Editor")) 
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.IDCourse })} |
            
            @Html.ActionLink("Details", "Details", new { id = item.IDCourse }) |
            
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.IDCourse })}
            </td>
    </tr>
}

</table>
