@model IEnumerable<ADLVMusicAcademy.Models.NewsItemModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>News</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using(Html.BeginForm()) 
{
    <p>
        Find by title: @Html.TextBox("SearchString")
        <input type="submit" value="Search"/>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDNewsItem)
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.NameSortParam}) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.ActionLink("Valid From", "Index", new {sortOrder = ViewBag.DateSortParam})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDNewsItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.IDNewsItem }) 
            @Html.ActionLink("Details", "Details", new { id = item.IDNewsItem }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.IDNewsItem })
        </td>
    </tr>
}

</table>
